<?php
/*
 * Copyright (C) 2011 OpenSIPS Project
 *
 * This file is part of opensips-cp, a free Web Control Panel Application for 
 * OpenSIPS SIP server.
 *
 * opensips-cp is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation; either version 2 of the License, or
 * (at your option) any later version.
 *
 * opensips-cp is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program; if not, write to the Free Software
 * Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
 */

if (!isset($config)) $config = new stdClass();

 //database driver mysql or pgsql
 $config->db_driver = "{{ opensips_cp_db_engine }}";

 //database host
 $config->db_host = "{{ opensips_cp_db_host }}";
 
 //database port - leave empty for default
 $config->db_port = "{{ opensips_cp_db_port | default('') }}";
 
 //database connection user
 $config->db_user = "{{ opensips_cp_db_user }}";
 
 //database connection password
 $config->db_pass = '{{ opensips_cp_db_pass }}';
 
 //database name
 $config->db_name = "{{ opensips_cp_db }}";

 if (!empty($config->db_port) ) $config->db_host = $config->db_host . ";port=" . $config->db_port;
 
?>
